APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_KEY=base64:REPLACE_WITH_REAL_APP_KEY

APP_REGISTRATION_ENABLED=false
APP_PASSKEYS_ENABLED=true
APP_TOTP_ENABLED=true

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=dmarc_dashboard
DB_USERNAME=dmarc
DB_PASSWORD=change-me

SESSION_DRIVER=database
SESSION_SERIALIZATION=php
CACHE_STORE=database
QUEUE_CONNECTION=database

WEBAUTHN_ID=localhost
WEBAUTHN_ORIGINS=

